<?xml version="1.0"?>

<launch>
	<rosparam file="$(find maddrive_cv_tools)/lane_config.yaml" ns="md_config/lane" />
	<node pkg="maddrive_cv_tools" name="lane_roi_tuner" type="lane_roi_tuner.py" output="screen">
		<param name="filepath" value="$(find maddrive_cv_tools)/lane_test.png" />
	</node >
</launch>